<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}
  {% include google_analytics.html %}
 	

  <body>

    <div class="container content">
    	
    <div class="headerbig">
    	
    	<div class="head">
	<div class="headerleft">
		<center><img data-img="root" src="https://pbs.twimg.com/profile_images/464738896425668610/4KAfvIMt_400x400.jpeg" alt="Mithat Gögebakan" class="foto"></center>
	</div>

	<div class="headerright">
        <div id="headername">
            <h1 class="nomargin name">Mithat Gögebakan</h1>

            <div class="description">
                <div class="position">Cyber Security Researcher</div>
            </div>
        </div>

        <div class="add" id="contact">
            <a href="mailto:963@hotmail.com.tr">963@hotmail.com.tr</a> <i class="fa fa-envelope fa-fw"></i><br>
            <a href="http://twitter.com/mithatgogebakan">@mithatgogebakan</a> <i class="fa fa-twitter fa-fw"></i><br>
            Turkey area <i class="fa fa-map-marker fa-fw"></i>
        </div>

        <div class="clear"></div>			
	</div> 
<div class="clear"></div>
</div></div>
    	
    	
      <div id="navbar" class="bound">

        <div data-id="idblog" class="navitem navitem-first navitem-current"><a href="/" title="Home">Blog</a></div>
          

          {% for page in site.pages_list %}
              <div class="navitem">
              	
              	<a href="{{ page[1]  }}">{{ page[0] }}</a>
              	
              	</div>
          {% endfor %}
          
          <div data-id="Github" class="navitem"><a href="https://github.com/mithatgogebakan">Github</a></div>
          <div data-id="idlinkedin" class="navitem navitem-last"><a href="https://tr.linkedin.com/pub/mithat-g%C3%B6gebakan/7b/146/925/en">LinkedIn</a></div>

           <div class="clear"></div>
		
        </div>

      {{ content }}

       {% include comments.html %}

      <div class="footer">
        <p>
          &copy; {{ site.time | date: '%Y' }}. All rights reserved.
        </p>
      </div>
    </div>

  </body>
</html>
