<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}
 

  <body>

    <div class="container content">
      <div id="navbar" class="bound">

        <div data-id="idblog" class="navitem navitem-first navitem-current"><a href="/" title="Home">Blog</a></div>
          

          {% for page in site.pages_list %}
              <div class="navitem">
              	
              	<a href="{{ page[1]  }}">{{ page[0] }}</a>
              	
              	</div>
          {% endfor %}
          
          <div data-id="idlinkedin" class="navitem navitem-last"><a href="https://tr.linkedin.com/pub/mithat-g%C3%B6gebakan/7b/146/925/en">LinkedIn</a></div>

           <div class="clear"></div>
		
        </div>

      {{ content }}



      <div class="footer">
        <p>
          &copy; {{ site.time | date: '%Y' }}. All rights reserved.
        </p>
      </div>
    </div>

  </body>
</html>
